<div>

  <h3>Advance Each - Simple loop with custom format</h3>
  <ul>
    {{#:each {@$dataStore}members }}
    <li>
      <div>{{:fn '{$}getTitle' gender first_name }}  {{ first_name }}</div>
    </li>
    {{/:each}}
  </ul>

  <hr><h3>Advance Each - Alias</h3>
  <ul>
    {{#:each {@$dataStore}members alias='member,index' }}
    <li>
      <div>{{ index }} - {{ member.first_name }}</div>
    </li>
    {{/:each}}
  </ul>

  <hr><h3>Advance Each - accessing array index using @index</h3>
  <ul>
    {{#:each {@$dataStore}members }}
    <li>
      <div>{{ @index }} - {{ first_name }}</div>
    </li>
    {{/:each}}
  </ul>

  <hr><h3>Advance Each - sort by First Name</h3>
  <ul>
    {{#:each {@$dataStore}members sortOn='first_name' sortBy='asc' }}
    <li>
      <div>{{ first_name }} {{ last_name }}</div>
    </li>
    {{/:each}}
  </ul>

  <hr><h3>Advance Each - filter using function</h3>
  <ul>
    {{#:each {@$dataStore}members fnFilter='{$}aFilter' }}
    <li>
      <div>{{ first_name }} {{ last_name }}</div>
    </li>
    {{^}}
    <li>No Records.</li> <!-- if Filtered records = 0 -->
    {{/:each}}
  </ul>

</div>