<nav class="navbar navbar-default navbar-fixed-top" id="c_header">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Phonebook App [Total <span data-bind="count">--</span> contacts]</a>
    </div>

    <div class="navbar-right navbar-form">
      <button class="btn btn-primary"
        onclick="{$}addNewContact()"
        title="Add new contact">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="glyphicon glyphicon-user"></span>
      </button>
    </div>
  </div>
</nav>