<div>

  <p>
    This example is to track specific element(s).
    <ul>
      <li>define "track-change" class in specific element(s)</li>
      <li>Now "track-changes" class in &lt;FORM&gt; is optional</li>
    </ul>
  </p>

  <!-- NOTE: NO 'track-changes' CLASS in form tag -->
  <form>

    <div class="input-group">
      <div>First Name:</div>
      <input type="text" name="firstname" value="{{ firstName }}">
    </div>

    <div class="input-group">
      <div>Last Name:</div>
      <input type="text" name="lastname" value="{{ lastName }}">
    </div>

    <div class="input-group">
      <div>Email:</div>
      <!-- only tracking email field -->
      <input class="track-change" type="text" name="email" value="{{ email }}">
    </div>

    <div class="input-group">
      <button>Update</button>
    </div>

  </form>

</div>